<h1>Descobrir</h1>

@if (movieFacade.status() === 'loading') {
  <p>Carregando...</p>
}

@if (movieFacade.error()) {
  <p>Erro ao carregar filmes.</p>
}

<ul>
  @for (movie of movieFacade.movies(); track movie.id) {
    <li>
      <img src="{{ movie.coverUrl }}" alt="{{ movie.title }} poster" width="100" />
      {{ movie.title }}
    </li>
  } @empty {
    <li>Nenhum filme encontrado.</li>
  }
</ul>

signal store
<ul>
  @for (movie of movieStore.movies(); track movie.id) {
    <li>
      <img src="{{ movie.coverUrl }}" alt="{{ movie.title }} poster" width="100" />
      {{ movie.title }}
    </li>
  } @empty {
    <li>Nenhum filme encontrado.</li>
  }
</ul>
